<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/bundles/app/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bundles/app/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="/bundles/app/css/style.min.css" />
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <div id="loader-animation"></div>
    <div class="alert alert-success" style="display: none;"></div>
    <div class="alert alert-danger" style="display: none;"></div>
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
    <script src="/bundles/app/js/jquery-3.2.1.min.js"></script>
    <script src="/bundles/app/js/bootstrap.min.js"></script>
    <script src="/bundles/app/js/bootstrap-datepicker.min.js"></script>
    <script src="/bundles/app/js/country.min.js"></script>
    <script src="/bundles/app/js/company.min.js"></script>
    <script src="/bundles/app/js/reports.min.js"></script>
    <script src="/bundles/app/js/function.min.js"></script>
    {% block javascript %}
    {% endblock %}
</body>
</html>
