{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#country">Country</a></li>
            <li><a data-toggle="tab" href="#company">Company</a></li>
            <li><a data-toggle="tab" href="#leaders">Leaders</a></li>
        </ul>

        <div class="tab-content">
            <!-- Country -->
            <div id="country" class="tab-pane fade in active">
                <h3>Country management</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Plan</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <button type="button" id="country-add-show-form" class="btn btn-success">Add</button>
                <form id="countryAddForm" style="display: none;">
                    <h3>Add Country:</h3>
                    <div class="form-group">
                        <label for="countryName">Name</label>
                        <input name="name" type="text" class="form-control" id="countryName"  placeholder="Enter name">
                    </div>
                    <div class="form-group">
                        <label for="countryPlan">Plan</label>
                        <input name="plan" type="number" class="form-control" id="countryPlan" placeholder="Enter plan">
                    </div>
                    <button type="submit" id="country-save" class="btn btn-success">Create</button>
                    <button type="button" id="country-add-hide-form" class="btn btn-warning">Cancel</button>
                </form>   
            </div>
            <!-- END country -->

            <!-- Company -->
            <div id="company" class="tab-pane fade">
                <h3>Company management</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Country</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <button type="button" id="company-add-show-form" class="btn btn-success">Add</button>
                <form id="companyAddForm" style="display: none;">
                    <h3>Add company:</h3>
                    <div class="form-group">
                        <label for="companyName">Name</label>
                        <input name="name" type="text" class="form-control" id="companyName"  placeholder="Enter name">
                    </div>
                    <div class="form-group">
                        <label for="companyEmail">Email</label>
                        <input name="email" type="Email" class="form-control" id="companyEmail" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="sel1">Select country:</label>
                        <select name="countryId" class="form-control companyCountry">
                        </select>
                    </div>                    
                    <button type="submit" id="company-save" class="btn btn-success">Create</button>
                    <button type="button" id="company-add-hide-form" class="btn btn-warning">Cancel</button>
                </form>  
            </div>
            <!-- END company -->
            
            <!-- Leaders -->
            <div id="leaders" class="tab-pane fade">
                <h3>Leaders</h3>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <button type="button" id="generate-data" class="btn btn-success form-control">Generate data</button>
                        </div>    
                        <div class="form-group">
                            <input type="text" class="form-control" id="data-container">
                            <button type="button" id="generate-report" class="btn btn-success form-control">Generate report</button>
                        </div>
                        <div class="form-group">
                            
                        </div>
                    </div>
                </div>    

                <div class="row">
                    <div class="col-md-6">
                        <h3>Country report:</h3>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Country</th>
                                    <th scope="col">Mined</th>
                                    <th scope="col">Plan</th>
                                </tr>
                            </thead>
                            <tbody id="counry-report">
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <h3>Company report:</h3>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Company</th>
                                    <th scope="col">Mined</th>
                                    <th scope="col">Plan</th>
                                </tr>
                            </thead>
                            <tbody id="company-report">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END leaders -->
        </div>
    </div>

{% endblock %}